body {
    background: rgb(215, 197, 218);
    font-family: 'Roboto', sans-serif;
    color: rgb(72, 56, 75);
    text-align: justify;   
}

h1 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

.lyrics {
    font-size: 50px;
}